<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<section class="facility__section section" id="facility" th:fragment="phone-facility">
    <div class="container">
        <div class="facility__contianer" data-aos="fade-up" data-aos-duration="1200">
            <div class="facility__box">
                <div class="facility-img__container">
                    <i class="fa fa-plane" aria-hidden="true"></i>
                </div>
                <p>FREE SHIPPING WORLD WIDE</p>
            </div>

            <div class="facility__box">
                <div class="facility-img__container">
                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                </div>
                <p>100% MONEY BACK GUARANTEE</p>
            </div>

            <div class="facility__box">
                <div class="facility-img__container">
                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                </div>
                <p>MANY PAYMENT GATWAYS</p>
            </div>

            <div class="facility__box">
                <div class="facility-img__container">
                    <i class="fa fa-headphones" aria-hidden="true"></i>
                </div>
                <p>24/7 ONLINE SUPPORT</p>
            </div>
        </div>
    </div>
</section>