<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<section class="category__section section" id="category" th:fragment="phone-select-button">
    <div class="tab__list">
        <div class="title__container tabs">
            <div class="section__titles category__titles ">
                <div class="section__title filter-btn active" data-id="All Products">
                    <span class="dot"></span>
                    <h1 class="primary__title">All Products</h1>
                </div>
            </div>
            <div class="section__titles">
                <div class="section__title filter-btn" data-id="Trending Products">
                    <span class="dot"></span>
                    <h1 class="primary__title">Trending Products</h1>
                </div>
            </div>

            <div class="section__titles">
                <div class="section__title filter-btn" data-id="Special Products">
                    <span class="dot"></span>
                    <h1 class="primary__title">Special Products</h1>
                </div>
            </div>

            <div class="section__titles">
                <div class="section__title filter-btn" data-id="Featured Products">
                    <span class="dot"></span>
                    <h1 class="primary__title">Featured Products</h1>
                </div>
            </div>

        </div>
    </div>
    <div class="category__container" data-aos="fade-up" data-aos-duration="1200">
        <div class="category__center"></div>
    </div>
    </div>
</section>