<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<section class="section newsletter" id="contact" th:fragment="phone-subscribe">
    <div class="container">
        <div class="newsletter__content">
            <div class="newsletter__data">
                <h3>SUBSCRIBE TO OUR NEWSLETTER</h3>
                <p>A short sentence describing what someone will receive by subscribing</p>
            </div>
            <form action="#">
                <input type="email" placeholder="Enter your email address" class="newsletter__email">
                <a class="newsletter__link" href="#">subscribe</a>
            </form>
        </div>
    </div>
</section>