<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">

<div class="contact_section layout_padding" th:fragment="cycle-callback" id="contact">
    <div class="container">
        <div class="contact_main">
            <h1 class="request_text">Confirm Payment</h1>
            <form th:action="@{/pay}" th:object="${customerDTO}" method="post">
                <div class="form-group">
                    <input type="text" class="email-bt" placeholder="First Name" th:name="firstName" th:field="*{firstName}">
                </div>
                <div class="form-group">
                    <input type="text" class="email-bt" placeholder="Last Name" th:name="lastName" th:field="*{lastName}">
                </div>
                <div class="form-group">
                    <input type="text" class="email-bt" placeholder="Email" th:name="email" th:field="*{email}">
                </div>
                <div class="form-group">
                    <input type="text" class="email-bt" placeholder="Phone Number" th;name="phone" th:field="*{phoneNumber}">
                </div>
                <div class="form-group">
                    <input type="text" class="email-bt" placeholder="Address" th:name="address" th:field="*{address}">
                </div>
                <div class="form-group">
                    <textarea class="massage-bt" placeholder="Message" rows="5" id="comment" name="message" th:field="*{message}"></textarea>
                </div>
                <input type="submit" value="Payment with Paypal" class="btn btn-primary btn-user btn-block">
            </form>
<!--            <div class="send_btn"><a href="#">SEND</a></div>-->
<!--            <div class="send_btn"><a th:href="@{/pay}">Payment with Paypal</a></div>-->
        </div>
    </div>
</div>