<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Cycle Shopping Cart</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" th:href="@{/cycle/css/bootstrap.min.css}">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" th:href="@{/cycle/css/style.css}">
    <!-- Responsive-->
    <link rel="stylesheet" th:href="@{/cycle/css/responsive.css}">
    <!-- fevicon -->
    <link rel="icon" th:href="@{/cycle/images/fevicon.png}" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" th:href="@{/cycle/css/jquery.mCustomScrollbar.min.css}">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/cycle/css/owl.carousel.min.css}">
    <link rel="stylesoeet" th:href="@{/cycle/css/owl.theme.default.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <link rel="stylesheet" th:href="@{/cycle/css/cycle-cart.css}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
<!-- header section start -->
<!--<div class="header_section header_bg">-->
<!--    <div th:replace="fragment/cycle-header :: cycle-header"></div>-->
    <!-- banner section start -->
<div class="header_section header_bg">
    <div th:replace="fragment/cycle-header :: cycle-header"></div>
    <!-- banner section start -->
<!--    <div th:replace="fragment/cycle-cart-banner :: cycle-cart-banner"></div>-->
    <!-- banner section end -->
</div>
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">E-COMMERCE CART</h1>
        </div>
    </section>
    <h2 class="cycles_text" th:if="${cartItems.size == 0}">Cart is empty</h2>
    <div class="container mb-4" th:if="${cartItems.size > 0}">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-striped" id="table-cart">
                        <thead>
                        <tr>
<!--                            <th scope="col" style="width: 0.00%"></th>-->
                            <th scope="col" style="width: 20.00%"></th>
                            <th scope="col" style="width: 20.00%">Product</th>
                            <th scope="col" style="width: 20.00%">Available</th>
                            <th scope="col" class="text-center" style="width: 20.00%">Quantity</th>
                            <th scope="col" class="text-right" style="width: 20.00%">Price</th>
                            <th> </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="cartItem : ${cartItems}">
<!--                            <td th:text="${cartItem.id}" id="cartId" style="display: none"></td>-->
                            <td><img id="imgProduct" th:src="@{${cartItem.product.getPathImageProduct}}"></td>
                            <td th:text="${cartItem.product.name}"></td>
                            <td>In stock</td>
                            <td>
                                    <input id="quantity" class="form-control" type="text" th:value=${cartItem.quantity}>
<!--                                    <a class="btn btn-outline-success btn-block" id="update-quantity">Update</a>-->
                                    <button class="btn btn-outline-success btn-block" id="update-quantity" th:onclick="'javascript:updateQuantity(' + ${cartItem.id} + ');'">Update</button>
                            </td>
                            <td class="text-right" th:text="${cartItem.product.price}"></td>
                            <td class="text-right"><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button> </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Sub-Total</td>
                            <td class="text-right" th:text="${subTotal}" id="subTotal"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Shipping</td>
                            <td class="text-right" th:text="${shipping}" id="shipping"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td class="text-right"><strong th:text="${total}" id="total"></strong></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col mb-2">
                <div class="row">
                    <div class="col-sm-12  col-md-6">
                        <th:block th:if="${cartItems.size > 0}">
                            <a th:href="@{/}" class="btn btn-block btn-light">Continue Shopping</a>
                        </th:block>
                    </div>
                    <div class="col-sm-12 col-md-6 text-right">
                        <th:block th:if="${cartItems.size > 0}">
                            <a th:href="@{/cart/contact#contact}" class="btn btn-lg btn-block btn-success text-uppercase">Checkout</a>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div th:replace="fragment/cycle-copyright :: cycle-copyright"></div>
<script th:src="@{/cycle/js/jquery.min.js}"></script>
<script th:src="@{/cycle/js/popper.min.js}"></script>
<script th:src="@{/cycle/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/cycle/js/jquery-3.0.0.min.js}"></script>
<script th:src="@{/cycle/js/plugin.js}"></script>
<!-- sidebar -->
<script th:src="@{/cycle/js/jquery.mCustomScrollbar.concat.min.js}"></script>
<script th:src="@{/cycle/js/custom.js}"></script>
<!-- javascript -->
<script th:src="@{/cycle/js/owl.carousel.js}"></script>
<script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft= "0";

    }

    $("#main").click(function(){
        $("#navbarSupportedContent").toggleClass("nav-normal")
    });

    var contextPath = window.location.host;
    // var cartItems = [[${cartItems}]];
    // console.log(contextPath);


    function updateQuantity(cartId) {
        var quantity = $('#quantity').val();
        $.post("/cart/update-quantity/" + cartId + "/" + quantity, function(data, status){
            if (status == "success") {
                console.log(data.subTotal);
                var subTotal = data.subTotal;
                var shipPrice = data.shipPrice;
                var total = subTotal + shipPrice;
                $('#quantity').val(quantity);
                $('#subTotal').html(subTotal);
                $('#shipping').html(shipPrice);
                $('#total').html(total);
            }
        });
    }
</script>
</body>
</html>